header {
  position: fixed;
  width: 94.5vw;
  margin-left: 2rem;
  margin-right: 2rem;
  nav {
    background: transparent;
    border-bottom: solid 1px;
    .navMenu {
      font-family: $primaryFont;
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      a {
        color: black;
        text-decoration: none;
        &hover {
          text-decoration: underline;
        }
      }
      .menu-left {
        font-family: $primaryFont;
        font-weight: normal;
        font-size: 1.2rem;
      }
      .menu-center {
        font-family: $primaryFont;
        font-weight: bold;
        font-size: 1.2rem;
      }
      .menu-right {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        .menu-right1 {
          margin-right: 20px;
          ul {
            list-style-type: none;
            li {
              font-size: 16px;
              padding: 15px 5px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

.item-language1 {
  @include languageSwitchs();
  border-color: transparent;
}
.item-language2 {
  @include languageSwitchs();
}

/**********Responsive laptop 1200-1390px***********/

@include smallLaptop {
  header {
    
   .nav {
    .navMenu {
      img {
        height: 16px;
      }
      .menu-center {
        font-size: $smallLaptop-paragrapghs-fontSize;
      }
      .menu-right1 {
        .item-language1 {
          font-size: $smallLaptop-paragrapghs-fontSize;
        }
        .item-language2 {
          font-size: $smallLaptop-paragrapghs-fontSize;
        }
        .menu-switch {
          width: 12px;
          height: 12px;
          padding: 0px 0px;
        }
      }
    }
  }
}

/*****Responsive Movil 375px*****/
@include mobile {
  header {
    width: 90vw;
    margin-left: 1rem;
   margin-right: 1rem;
   .navMenu {
     .menu-left {
      font-size: 1.2rem;
    }

    .menu-center {
      font-size: 1rem;
      position: absolute;
      visibility: hidden;
    }
    .menu-right1 {
      margin-right: 10px;
      .item-language1 {
        @include languageSwitchsMobile();
      }
      .item-language2 {
        @include languageSwitchsMobile();
      }
    }
   }
  }
}