.section1 {
  display: flex;
  border-color: $secondaryColor2;
  align-items: center;
  padding-bottom: 2rem;
  margin: 0 auto;
  .column1 {
    width: 50%;
    height: auto;
    //background-image: url("./images/degradado.png");
    background-repeat: no-repeat;
    background-position: center-left;
    background-size: cover;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: auto;
      height: 80%;
    }
  }

  .column2 {
    width: 50%;

    .column2Item1 {
      @include mainTitles();
      text-transform: uppercase;
      span {
        font-family: $secondaryFont;
        font-weight: 100;
        font-size: 4.5rem;
        text-transform: none;
      }
    }
    .column2Item2 {
      @include mainTitles2();
      margin-left: 173px;
      margin-top: -35px;
      color: $primaryColor2;
    }
    .column2Item3 {
      width: 28rem;
      margin-left: 177px;
      p {
        @include paragrapghs();
      }
    }
    .column2Item4 {
      img {
        height: 100px;
        position: absolute;
        margin-top: -14rem;
        margin-left: -1rem;
      }
    }
  }
}

/**********Responsive Mobile 420px***********/

@include mobile {
  .section1 {
    flex-direction: column-reverse;
    align-content: center;
    margin-top: 6.5rem;
    margin: 0px 1.5rem;
    .column1 {
      width: 100%;
      background-image: none;
      height: auto;
      img {
        width: 95%;
        height: auto;
      }
    }
    .column2 {
      width: 100%;
      margin-top: 0px;
      .column2Item1 {
        font-size: $mobile-mainTitles1-fontSize;
        span {
          font-size: $mobile-mainTitles1-fontSize;
        }
      }

      .column2Item2 {
        font-size: $mobile-mainTitles1-fontSize;
        margin-left: 85px;
        margin-top: -18px;
      }
      .column2Item3 {
        width: 15rem;
        margin-left: 85px;
        p {
          font-size: $mobile-paragrapghs-fontSize;
        }
      }
      .column2Item4 {
        img {
          height: 120px;
          position: absolute;
          margin-top: -10rem;
          margin-left: -4rem;
        }
      }
    }
  }
}

/**********Responsive Small laptop 1200-1390px***********/

@include smallLaptop {
  .section1 {
    .column1 {
      height: auto;
      img {
        width: 80%;
        height: auto;
      }
    }

    .column2 {
      margin-top: 2%;
      .column2Item1 {
        font-size: 3rem;
        span {
          font-size: 3.5rem;
        }
      }

      .column2Item2 {
        font-size: 3.5rem;
        margin-top: -20px;
        margin-left: 130px;
      }

      .column2Item3 {
        width: 22rem;
        margin-left: 132px;
        p {
          font-size: $smallLaptop-paragrapghs-fontSize;
        }
      }

      .column2Item4 {
        img {
          height: 115px;
          margin-top: -20rem;
          margin-left: -1rem;
        }
      }
    }
  }
}
