$primaryColor1: #b892ff;
$primaryColor2: #ee6c4d;
$primaryColor3: #F5CB5C;
$secondaryColor1: #EFE8D7;
$secondaryColor2: #333333;

$primaryFont: "Syne", sans-serif;
$secondaryFont: "ogg italic";

$smallLaptop-paragrapghs-fontSize:  0.875rem; 
$mobile-paragrapghs-fontSize:  0.75rem;
$mobile-mainTitles-fontSize: 1.5rem;

