/**********Small laptop 1200-1390px***********/
/**********Mobile 420px***********/
header {
  position: fixed;
  width: 94.5vw;
  margin-left: 2rem;
  margin-right: 2rem;
}

header nav {
  background: transparent;
  border-bottom: solid 1px;
}

header nav .navMenu {
  font-family: "Syne", sans-serif;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .navMenu a {
  color: black;
  text-decoration: none;
}

header nav .navMenu ahover {
  text-decoration: underline;
}

header nav .navMenu .menu-left {
  font-family: "Syne", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}

header nav .navMenu .menu-center {
  font-family: "Syne", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

header nav .navMenu .menu-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navMenu .menu-right .menu-right1 {
  margin-right: 20px;
}

header nav .navMenu .menu-right .menu-right1 ul {
  list-style-type: none;
}

header nav .navMenu .menu-right .menu-right1 ul li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.item-language1 {
  font-family: "Syne", sans-serif;
  font-weight: regular;
  font-size: 1.1rem;
  padding: 0rem 1rem;
  border: solid 1px #b892ff;
  border-radius: 50%;
  border-color: transparent;
}

.item-language2 {
  font-family: "Syne", sans-serif;
  font-weight: regular;
  font-size: 1.1rem;
  padding: 0rem 1rem;
  border: solid 1px #b892ff;
  border-radius: 50%;
}

/**********Responsive laptop 1200-1390px***********/
@media (min-width: 1200px) and (max-width: 1390px) {
  .menu-fixed .navMenu img {
    height: 16px;
  }
  .menu-fixed .navMenu .menu-center {
    font-size: 1.2rem;
  }
  .menu-fixed .navMenu .menu-right1 .item-language1 {
    font-size: 1.2rem;
  }
  .menu-fixed .navMenu .menu-right1 .item-language2 {
    font-size: 1.2rem;
  }
  .menu-fixed .navMenu .menu-right1 .menu-switch {
    width: 12px;
    height: 12px;
    padding: 0px 0px;
  }
}

/*****Responsive Movil 375px*****/
@media (max-width: 420px) {
  .navMenu .menu-left {
    font-size: 1.2rem;
  }
  .navMenu .menu-center {
    font-size: 1rem;
    position: absolute;
    visibility: hidden;
  }
  .navMenu .menu-right1 {
    margin-right: 10px;
  }
  .navMenu .menu-right1 .item-language1 {
    font-family: "Syne", sans-serif;
    font-weight: regular;
    font-size: 1.1rem;
    padding: 0rem 0.5rem;
    border: solid 1px #b892ff;
    border-radius: 50%;
  }
  .navMenu .menu-right1 .item-language2 {
    font-family: "Syne", sans-serif;
    font-weight: regular;
    font-size: 1.1rem;
    padding: 0rem 0.5rem;
    border: solid 1px #b892ff;
    border-radius: 50%;
  }
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

.column1 {
  width: 50%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center-left;
  background-size: cover;
}

.column1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: auto;
  height: 90%;
}

.column2 {
  width: 50%;
}

.column2 .column2Item1 {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-transform: uppercase;
}

.column2 .column2Item1 span {
  font-family: "ogg italic";
  font-weight: 100;
  font-size: 4.5rem;
  text-transform: none;
}

.column2 .column2Item2 {
  font-family: "ogg italic";
  font-weight: 100;
  font-size: 4.5rem;
  margin-left: 173px;
  margin-top: -35px;
  color: #ee6c4d;
}

.column2 .column2Item3 {
  width: 28rem;
  margin-left: 177px;
}

.column2 .column2Item3 p {
  font-family: "Syne", sans-serif;
  font-weight: regular;
  font-size: 1.5rem;
}

.column2 .column2Item4 img {
  height: 150px;
  position: absolute;
  margin-top: -14rem;
  margin-left: -4rem;
}

/**********Responsive Mobile 420px***********/
@media (max-width: 420px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 1.5rem;
    margin: 0px 1.5rem;
  }
  .section1 .column1 {
    width: 100%;
    background-image: none;
    height: auto;
  }
  .section1 .column1 img {
    width: 95%;
    height: auto;
  }
  .section1 .column2 {
    width: 100%;
    margin-top: 0px;
  }
  .section1 .column2 .column2Item1 {
    font-size: 1.8rem;
  }
  .section1 .column2 .column2Item1 span {
    font-size: 1.8rem;
  }
  .section1 .column2 .column2Item2 {
    font-size: 1.8rem;
    margin-left: 85px;
    margin-top: -18px;
  }
  .section1 .column2 .column2Item3 {
    width: 15rem;
    margin-left: 85px;
  }
  .section1 .column2 .column2Item3 p {
    font-size: 0.75rem;
  }
  .section1 .column2 .column2Item4 img {
    height: 120px;
    position: absolute;
    margin-top: -10rem;
    margin-left: -4rem;
  }
}

/**********Responsive Small laptop 1200-1390px***********/
@media (min-width: 1200px) and (max-width: 1390px) {
  .section1 .column1 {
    height: auto;
  }
  .section1 .column1 img {
    width: 90%;
    height: auto;
  }
  .section1 .column2 {
    margin-top: 2%;
  }
  .section1 .column2 .column2Item1 {
    font-size: 3rem;
  }
  .section1 .column2 .column2Item1 span {
    font-size: 3.5rem;
  }
  .section1 .column2 .column2Item2 {
    font-size: 3.5rem;
    margin-top: -20px;
    margin-left: 130px;
  }
  .section1 .column2 .column2Item3 {
    width: 22rem;
    margin-left: 132px;
  }
  .section1 .column2 .column2Item3 p {
    font-size: 1.2rem;
  }
  .section1 .column2 .column2Item4 img {
    height: 115px;
    margin-top: -20rem;
    margin-left: -1rem;
  }
}

.rotated {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'ogg regular';
  src: url("../fonts/OGG ROMAN.OTF") format("opentype");
}

@font-face {
  font-family: 'ogg italic';
  src: url("../fonts/OGG ITALIC.OTF") format("opentype");
}

body {
  background-color: #efe8d7;
  background-image: url("./images/degradado.png");
  background-repeat: no-repeat;
  background-position: center-left;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */